# Ignore node_modules (install inside Docker container)
node_modules
npm-debug.log


# Ignore Next.js build outputs
.next
out
.vercel
.netlify

# Ignore environment files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore logs
logs
*.log
debug.log
output.log
yarn-debug.log*
yarn-error.log*
bun-error.log

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore build artifacts & coverage
dist
build
coverage

# Ignore static caches
.cache
.next/cache

# Ignore IDE/editor files
.vscode
.idea
.DS_Store
*.swp
*.swo
*.swn

# Ignore Git-related files
.git
.gitignore

# Ignore miscellaneous project files
*.iml
*.sublime-workspace
*.sublime-project
Thumbs.db